<?xml version="1.0"?>
<launch>
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="nwu" />
        <!-- <remap from="/imu/data_raw" to="/imu/filtered"/> -->
    </node>
</launch>