<launch>
    <remap from="/camera/color/image_raw" to="/camera/rgb/image_rect_color"/>
    <remap from="/camera/depth/image_rect_raw" to="/camera/depth_registered/image_raw"/>
    <remap from="/camera/color/camera_info" to="/camera/rgb/camera_info"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="color_fps" value="15"/>
        <arg name="enable_accel" value="true"/>
        <arg name="enable_gyro" value="true"/>
        <arg name="unite_imu_method" value="copy"/>
    </include>
     <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node>

    <!-- <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap">
        <param name="approx_sync" value="true"/>
        <param name="wait_imu_to_init" value="false"/>
        <param name="imu_topic" value="/rtabmap/imu"/>
        <param name="RGBD/Enabled" type="bool" value="false"/>
    </node>

    <node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz"/>
    <node name="rtabmap_odom" pkg="rtabmap_ros" type="rgbd_odometry"/> -->

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="approx_sync" value="true"/>
        <arg name="wait_imu_to_init" value="false"/>
        <arg name="imu_topic" value="/rtabmap/imu"/>
        <arg name="rtabmapviz" value="true"/>
        <arg name="rtabmap_args" default="$(find visual_odometry)/config/config.ini"/>
        <!-- <param name="RGBD/Enabled" type="bool" value="false"/> -->
    </include>
    <node name="vo_sender" pkg="visual_odometry" type="vo_sender.py" />
</launch>
 <!-- /camera/rgb/image_rect_color \ -->
   <!-- /camera/depth_registered/image_raw \ -->
   <!-- /camera/rgb/camera_info -->
